<!DOCTYPE html>
<html>
  <head>
    <title>Homey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.notice %>
      <div style='float: right; background-color: lightgreen; padding: 10px; border-radius:10px;'><%= flash.notice %></div>
    <% end %>
    <% if flash.alert %>
      <div style='float: right; background-color: pink; padding: 10px; border-radius:10px;'><%= flash.alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
